body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

button {
    cursor: pointer;
}

/* null style */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

img {
    display: block;
}

address {
font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;

    padding: 0 15px;
    margin: 0 auto;
}

/* Header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46,47,66,0.08),
    0px 1px 1px rgba(46,47,66,0.16), 0px 1px 6px rgba(46,47,66,0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-address {
    font-style: normal;
    margin-left: auto;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-menu-link.curent {
    position: relative;
    color: #404bbf;
}

.curent::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}

.header-logo span {
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-ltem{
    color: #2e2f42;
}
.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.header-contact-list {
    display: flex;
    gap: 40px;
}

.header-contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

/* Hero */

.hero {
    max-width: 1440px;
    background: #2e2f42;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7)
        rgba(46, 47, 66, 0.7)
    ),   url();
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;

    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.hero-bth {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;

    display: flex;
    margin: 0 auto;
    display: block;
    max-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-bth:hover,
.hero-bth:focus {
    background-color: #404bbf;
}

/* hero end */

/* Advantages */

